
.label {
    -fx-font-size: 13px;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #5c9ded;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-padding: 5 15 5 15;
}

.button:hover {
    -fx-background-color: #3c7dc3;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 3;
    -fx-padding: 4 8 4 8;
}

.titled-pane {
    -fx-font-size: 14px;
    -fx-text-fill: #2b2b2b;

    -fx-content-display: top;
}

.table-view {
    -fx-border-color: #ddd;
    -fx-table-cell-border-color: transparent;
    -fx-background-radius: 5;
}

.table-view .column-header-background {
    -fx-background-color: #e0e8f0;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.footer {
    -fx-background-color: #5c9ded;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-border-color: #ccc;
    -fx-border-width: 1px 0 0 0;
}


.sidebar-button {
    -fx-background-color: #34495e !important;
    -fx-text-fill: white !important;
    -fx-font-size: 14px !important;
    -fx-pref-width: 120px !important;
    -fx-pref-height: 40px !important;
    -fx-background-radius: 5 !important;
}

.sidebar-button:hover {
    -fx-background-color: #3d566e !important;
}


